.board-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 180px;
    grid-auto-rows: 180px;
}

.board-card {
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 15px;
}
